@import "tailwindcss";
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
}
